<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head lang="fr">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>PayBy - Payer avec votre M-Wallet</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="media/payby.ico">

</head>
<body>
    <input id="reference" name="reference" type="hidden" th:value="${reference}"/>
    <div id="app"></div>
    <script type="text/javascript" src="built/bundle.js"></script>


</body>
</html>